[submodule "Calavera/vendor/spdlog"]
	path = Calavera/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Calavera/vendor/GLFW"]
	path = Calavera/vendor/GLFW
	url = https://github.com/TheCherno/glfw
